.header-main{
    width: 1,595.79px;
    height: 53.72px;
    display: flex;
    justify-content: space-between;
    padding: 69px 162px;
    background-color: #FFFFFF;
}
.navigation{
    width: 564px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    margin: 15.36px 0 15.36px 150px;
}
.li-item{
    font-size: 20px;
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
}
/* section1-styles */
.pic1{
    width: 100%;
    height: 450px;
    margin-top: 16.28px;
    margin-bottom: 182px;
}
/* section2-styles */
.main-div{
    width: 1400px;
    height: 1901px 
}
.pic2{
    width: 1400px;
    height: 742px;
}
.div1{

}
.div1-1{

}
.div1-1-title{

}
.p1-1{

}
.p1-2{

}
.div1-2{

}
.pic3{

}
.div1-2-1{

}
.div1-2-title{

}
.p1-3{

}
.div1-3{

}
.div1-3-1{

}
.div1-3-title{

}
.p1-4{

}
.pic4{

}
.div1-4{

}
.div1-4-title{

}
.p1-5{

}
/* section3-styles */
.pic5{

}
/* footer */
.footer-bg{

}
.footer-div{

}
.box1{

}
.box1-title{

}
.li-item1{

}
.li-item2{

}
.li-item3{

}
box2{

}
.logo{

}
.p1-6{

}
.box3{

}
.box3-title{

}
.li-item3-1{

}
.li-item3-2{

}
.li-item3-3{

}
.li-item3-4{

}
.li-item3-5{
    
}